@import url('https://fonts.googleapis.com/css?family=Merriweather|Titillium+Web');

// colors
$line-color: rgb(195, 192, 197);
$box-shadow: -5px 0 5px -5px #919191, 5px 0 5px -5px #919191;
$main-font-size: 14px;
$link-color: #739024;
$button-lighter-color: #99B548;
$button-color: #738f23;
$link-color: rgb(115, 144, 36);
$button-text-color: #fff;
$date-color: #999999;
$active-nav-color: #e8e7e8;
$alert-text-color:#e30042;
$teaser-frame-color: rgba(170, 170, 170, 0.2);
$border-color: rgb(195, 192, 197);

// fonts
$main-font: 'Titillium Web', sans-serif;
$quote-font: 'Merriweather', serif;
$alert-font: 'Verdana', regular;
